:root {
  --selector-option-background-hover: rgb(3, 133, 138);
  --selector-option-background-text: rgb(240, 240, 240);
  --selector-option-background: rgb(134, 223, 222);
  --selector-option-border: rgb(3, 133, 138);
  --selector-option-text: rgb(8, 8, 8);
}

.selector-content {
  background-color: var(--selector-option-background);
  border-radius: 5px;
  margin: 10px 0 10px;
  padding-top: 5px;
  width: 80%;
}

.selector-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.selector-container span {
  border-radius: 5px;
  border: 2px solid var(--selector-option-border);
  box-sizing: border-box;
  color: var(--selector-option-text);
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 0 5px 5px 5px;
  padding: 1px 5px;
  position: relative;
  width: 95%;
}

.selector-container span:hover {
  background-color: var(--selector-option-background-hover);
  color: var(--selector-option-background-text);
}
