:root {
  --button-chat-background: rgb(3, 133, 138);
  --button-chat-border: rgb(4, 103, 103);
  --input-chat-background: rgb(3, 133, 138);
  --input-chat-border: rgb(4, 103, 103);
  --input-chat-placeholder: rgb(134, 223, 232);
  --input-chat-text: rgb(240, 240, 240);
}

.chatbot-chat-input-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chatbot-chat-input-container input {
  background: var(--input-chat-background);
  border-radius: 25px;
  border: 1px solid var(--input-chat-border);
  box-sizing: border-box;
  color: var(--input-chat-text);
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  outline: none;
  padding-left: 20px;
  width: 80%;
}

.chatbot-chat-input-container input::placeholder {
  color: var(--input-chat-placeholder);
  font-weight: normal;
}

.chatbot-chat-input-container button {
  background-image: url("../../../../assets/images/arrow-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  background-color: var(--button-chat-background);
  border-radius: 50%;
  border: 1px solid var(--button-chat-border);
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.16);
  height: 35px;
  width: 35px;
}
