:root {
  --pet-avatar-border: rgb(237, 123, 67);
  --pet-chat-background: rgb(237, 123, 67);
  --pet-chat-text: rgb(240, 240, 240);
}

.pet-item-container {
  display: flex;
  width: auto;
  align-items: center;
}

.pet-item-avatar {
  display: flex;
  align-self: start;

  border: 2px solid var(--pet-avatar-border);
  padding: 1%;
  border-radius: 50%;
  width: 70px;
  height: 60px;

  box-sizing: border-box;
}

.pet-item-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 10px 0;
}

.pet-item-message span {
  margin: 1px 10px;
  font-size: 14px;
  color: var(--pet-chat-text);
  background: var(--pet-chat-background);
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  box-sizing: border-box;
}
