:root {
  --pet-avatar-border: rgb(237, 123, 67);
  --pet-chat-background: rgb(237, 123, 67);
  --pet-chat-text: rgb(240, 240, 240);
  --pet-speech-size: 10px;
}

.pet-item-container {
  align-items: center;
  display: flex;
  width: auto;
}

.pet-item-avatar {
  align-self: start;
  border-radius: 50%;
  border: 3px solid var(--pet-avatar-border);
  box-sizing: border-box;
  display: flex;
  height: 60px;
  padding: 1%;
  width: 70px;
}

.pet-item-message {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 0 2px 0;
  width: 100%;
}

.pet-item-message > span {
  background: var(--pet-chat-background);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--pet-chat-text);
  font-size: 14px;
  font-weight: bold;
  margin: 1px 10px;
  padding: 10px;
  position: relative;
  width: fit-content;
}

.pet-item-message > img {
  background: var(--pet-chat-background);
  border-radius: 5px;
  box-sizing: border-box;
  height: auto;
  margin: 1px 10px;
  padding: 5px;
  position: relative;
  width: 90%;
}

.pet-item-message > *:first-of-type:before {
  border-left: var(--pet-speech-size) solid transparent;
  border-right: var(--pet-speech-size) solid transparent;
  border-top: var(--pet-speech-size) solid var(--pet-chat-background);
  bottom: auto;
  clear: both;
  content: " ";
  height: 0;
  left: calc(var(--pet-speech-size) * -1);
  position: absolute;
  top: calc(var(--user-speech-size) * 2);
  width: 0;
}
