:root {
  --main-title-text: rgb(196, 82, 32);
  --main-title-shadow: rgba(240, 240, 240, 0.25);

  --main-description-text: rgb(196, 82, 32);
  --main-description-shadow: rgba(240, 240, 240, 0.25);

  --main-avatar-background: rgb(240, 240, 240);
  --main-avatar-border: rgb(237, 123, 67);
}

@font-face {
  font-family: "Gugi";
  src: url("../../assets/fonts/Gugi-Regular.ttf");
}

.home-petbot-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

.home-petbot-content {
  margin: auto;
  position: absolute;
  width: 85%;
}

.home-petbot-greeting {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
}

.home-petbot-greeting h1 {
  color: var(--main-title-text);
  font-family: "Gugi";
  font-weight: bold;

  text-shadow: 1px 1px 0 var(--main-title-shadow),
    -1px 1px 0 var(--main-title-shadow), 1px -1px 0 var(--main-title-shadow),
    -1px -1px 0 var(--main-title-shadow), 0px 1px 0 var(--main-title-shadow),
    0px -1px 0 var(--main-title-shadow), -1px 0px 0 var(--main-title-shadow),
    1px 0px 0 var(--main-title-shadow), 2px 2px 0 var(--main-title-shadow),
    -2px 2px 0 var(--main-title-shadow), 2px -2px 0 var(--main-title-shadow),
    -2px -2px 0 var(--main-title-shadow), 0px 2px 0 var(--main-title-shadow),
    0px -2px 0 var(--main-title-shadow), -2px 0px 0 var(--main-title-shadow),
    2px 0px 0 var(--main-title-shadow), 1px 2px 0 var(--main-title-shadow),
    -1px 2px 0 var(--main-title-shadow), 1px -2px 0 var(--main-title-shadow),
    -1px -2px 0 var(--main-title-shadow), 2px 1px 0 var(--main-title-shadow),
    -2px 1px 0 var(--main-title-shadow), 2px -1px 0 var(--main-title-shadow),
    -2px -1px 0 var(--main-title-shadow);
}

.home-petbot-image {
  background-color: var(--main-avatar-background);
  border-radius: 50%;
  border: 5px solid var(--main-avatar-border);
  margin: 20px 0 40px;
  padding: 5%;
}

.home-petbot-greeting span {
  color: var(--main-description-text);
  font-family: "Gugi";
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;

  text-shadow: 1px 1px 0 var(--main-description-shadow),
    -1px 1px 0 var(--main-description-shadow),
    1px -1px 0 var(--main-description-shadow),
    -1px -1px 0 var(--main-description-shadow),
    0px 1px 0 var(--main-description-shadow),
    0px -1px 0 var(--main-description-shadow),
    -1px 0px 0 var(--main-description-shadow),
    1px 0px 0 var(--main-description-shadow),
    2px 2px 0 var(--main-description-shadow),
    -2px 2px 0 var(--main-description-shadow),
    2px -2px 0 var(--main-description-shadow),
    -2px -2px 0 var(--main-description-shadow),
    0px 2px 0 var(--main-description-shadow),
    0px -2px 0 var(--main-description-shadow),
    -2px 0px 0 var(--main-description-shadow),
    2px 0px 0 var(--main-description-shadow),
    1px 2px 0 var(--main-description-shadow),
    -1px 2px 0 var(--main-description-shadow),
    1px -2px 0 var(--main-description-shadow),
    -1px -2px 0 var(--main-description-shadow),
    2px 1px 0 var(--main-description-shadow),
    -2px 1px 0 var(--main-description-shadow),
    2px -1px 0 var(--main-description-shadow),
    -2px -1px 0 var(--main-description-shadow);
}
