:root {
  --main-background: rgb(0, 0, 0);
}

body {
  background: var(--main-background);
  overflow: hidden;
}

code {
  font-family: "Quicksand", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-VariableFont_wght.ttf");
}
